<div class="main-container">
    <mat-toolbar class="custom-toolbar">
      <span style="margin-left: 20px;">BookStore</span>
      <span class="example-spacer"></span>
      <div class="icon-container profile" style="margin-right: 20px;">
        <mat-icon class="icon">account_circle</mat-icon>
        <div class="label">Profile</div>
      </div>
      <div class="icon-container cart" style="margin-right: 20px;">
        <mat-icon class="icon">shopping_cart</mat-icon>
        <div class="label">Cart</div>
      </div>
    </mat-toolbar>
  <router-outlet></router-outlet>
    <footer class="footer">
      <p>Copyright © 2020, Bookstore Private Limited. All Rights Reserved.</p>
    </footer>
  </div>
  