<div class="outer">
  <div class="inner">
    <div class="left-img">
      <div class="img">
        <img src="assets/login-image.png" alt="" />
      </div>
      <div class="right-content">Online Book Shopping</div>
    </div>
    <div class="right-form">
      <div class="login" *ngIf="form">
        <div class="login-signup-navigation">
          <button mat-button [ngClass]="{'active': form}">Login</button>
          <button mat-button [ngClass]="{'active': !form}" (click)="navigateBtn()">SignUp</button>
        </div>

        <div class="form" [formGroup]="loginForm">
          <label>Email Id</label>
          <mat-form-field appearance="outline">
            <input formControlName="email" matInput placeholder="Email or Phone" type="email" />
            <mat-error *ngIf="loginSubmitted && loginControls?.['email']?.['errors']?.['required']">Email is required</mat-error>
            <mat-error *ngIf="loginSubmitted && loginControls?.['email']?.['errors']?.['email']">Incorrect Email Format</mat-error>
          </mat-form-field>

          <label>Password</label>
          <mat-form-field appearance="outline">
            <input formControlName="password" matInput placeholder="Password" />
            <mat-error *ngIf="loginSubmitted && loginControls?.['password']?.['errors']?.['required']">Password is required</mat-error>
            <mat-error *ngIf="loginSubmitted && loginControls?.['password']?.['errors']?.['pattern']">Incorrect Password Format</mat-error>
          </mat-form-field>

          <a href="#" class="align-right">Forgot Password?</a>
          <button class="btn" (click)="onLoginSubmit()">Login</button>
        </div>

        <div class="divide-line">
          <span></span>
          <p>OR</p>
          <span></span>
        </div>

        <div class="other-links">
          <button class="btn other-links-div" style="background-color: #4266b2">
            Facebook
          </button>
          <button class="btn other-links-div" style="background-color: #f5f5f5; color: #0a0102">
            Google
          </button>
        </div>
      </div>

      <div class="login" *ngIf="!form">
        <div class="login-signup-navigation">
          <button mat-button [ngClass]="{'active': form}" (click)="navigateBtn()">Login</button>
          <button mat-button [ngClass]="{'active': !form}">SignUp</button>
        </div>

        <div class="form" [formGroup]="signupForm">
          <label>Full Name</label>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Full Name" formControlName="name" />
            <mat-error *ngIf="signupSubmitted && signupControls?.['name']?.['errors']?.['required']">Name is required</mat-error>

          </mat-form-field>

          <label>Email Id</label>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Email" formControlName="email" type="email" />
            <mat-error *ngIf="signupSubmitted && signupControls?.['email']?.['errors']?.['required']">Email is required</mat-error>
            <mat-error *ngIf="signupSubmitted && signupControls?.['email']?.['errors']?.['email']">Invalid Email Format </mat-error>

          </mat-form-field>

          <label>Mobile Number</label>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Mobile Number" formControlName="phone" />
            <mat-error *ngIf="signupSubmitted && signupControls?.['phone']?.['errors']?.['required']">Phone number is required</mat-error>
            <mat-error *ngIf="signupSubmitted && signupControls?.['phone']?.['errors']?.['pattern']">Invalid Phone number </mat-error>

          </mat-form-field>
          <label>Password</label>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Password" formControlName="password" />
            <mat-error *ngIf="signupSubmitted && signupControls?.['password']?.['errors']?.['required']">Password is required</mat-error>
            <mat-error *ngIf="signupSubmitted && signupControls?.['password']?.['errors']?.['pattern']">Password should contain minimum 8 characters </mat-error>
          </mat-form-field>
          <label>Confirm Password</label>
          <mat-form-field >
            <input formControlName="confirmPassword"  matInput placeholder="Confirm" type="password">
            <mat-error *ngIf="signupSubmitted && signupControls?.['confirmPassword']?.['errors']?.['required']">Confirm Password is required</mat-error>
            <mat-error *ngIf="signupSubmitted && signupControls?.['confirmPassword']?.['errors']?.['mustMatch']">Password must match</mat-error>
          </mat-form-field>

          <button class="btn" (click)="onSignupSubmit()">SignUp</button>
        </div>
      </div>
    </div>
  </div>
</div>
